@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared Style */
.color-1{color: #E02C6D;}
.dark-1{color: #3A3A3A;}
.dark-2{color: #6C6C6C;}
.dark-3{color: #787885;}


/* Nav Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 120px 0;
}

.brand-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-items{
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
}

.nav-items a i{
    font-size: 2rem;
}



/* Responsive Styles */

@media (max-width:575.98px) {
    .navbar,
    .nav-links{
        flex-direction: column;
    }
    .navbar{
        text-align: center;
    }
    .nav-links{
        gap: 15px;
    }
    .navbar{
        padding: 0;
    }
    .navbar,
    .nav-links{
        margin: 30px auto 0;
    }
}

@media (min-width: 576px) and (max-width: 768px){ 
      .navbar,
    .nav-links{
        flex-direction: column;
    }
    .navbar{
        text-align: center;
    }
    .nav-links{
        gap: 15px;
    }
    .navbar{
        padding: 0;
    }
    .navbar,
    .nav-links{
        margin: 30px auto 0;
    }
}

@media (min-width: 768.1px) and (max-width: 992px){ 
    .navbar{
        padding: 50px 20px 0;
    }
   
}

@media (min-width: 992.1px) and (max-width: 1200px){
  
}